/* hide elements */

#page, .region-bottom, .region-footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

#header {
    display: none;
}

.section-landing-page #page #content {
    padding: unset;
}

#page-title {
    display: none;
}

/* all blocks */

.elp-block {
    padding: 50px 80px;
}

.main-block, .map-block {
    padding-top: 0 !important;
}

.blog-contain, .video-contain {
    padding-top: 80px;
}

@media (max-width: 800px) {
    .elp-block {
        padding: 50px;
    }
    .main-box-2 {
        padding: unset !important;
    }
}

@media (max-width: 500px) {
    .elp-block {
        padding: 50px 0;
        margin: 0 25px;
    }
}

.blue-bg {
    background-color: #004F96;
}

.main-contain, .map-block h2, .video-contain h3 {
    margin-top: 25px;
}

/* triangle div separator */

.white-bg.triangle-div::before {
    display: block;
    content: "";
    background: url("/perkins-effect/img/blue-triangle.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 121px;
    height: 57px;
    width: 121px;
    margin-top: -1px;
}

.blue-bg.triangle-div::before {
    display: block;
    content: "";
    position: absolute;
    background: url("/perkins-effect/img/white-triangle.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 120px;
    height: 57px;
    width: 121px;
    margin-top: -2px;
    background-position-y: -1%;
    left: 50%;
    margin-left: -60px;
}

.blue-tri::after {
    display: block;
    position: absolute;
    content: "";
    background: url("/perkins-effect/img/blue-triangle.svg");
    background-size: 100%;
    height: 15%;
    background-repeat: no-repeat;
    width: 66%;
}

/* cta button */

a.donate-a {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #e0004d;
    padding: 25px;
    min-height: 62px;
    font-weight: 600;
    font-size: 1em;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

a.donate-a:hover {
    background-color: #444;
    transition: all 300ms ease-out;
}

.main-block .donate-a {
    margin-top: 35px;
}

/* elp logo */

.elp-logo img {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

/* triangle quote */

.triangle-quote {
    position: absolute;
}

.top-banner .quote {
    position: relative;
    right: -20.5%;
    margin-top: 3.5%;
    color: white;
    width: 35%;
    font-size: 2.9vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
    .quote {
        font-size: 46px !important;
    }
}

.top-banner img {
    width: 100%;
    height: auto;
}

/* banner quote */

.banner-quote p {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: unset;
    padding: 25px;
    margin-top: -5px;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .quote {
        right: -24.5% !important;
        margin-top: 4.5% !important;
        font-size: 3.2vw !important;
    }
}

@media (max-width: 600px) {
    .blue-tri::after {
        display: block;
        position: absolute;
        content: "";
        background: url("/perkins-effect/img/blue-triangle.svg");
        background-size: 100%;
        height: 10.22%;
        background-repeat: no-repeat;
        width: 120%;
        left: -25%;
    }
    .quote {
        margin-top: 5% !important;
        right: -1% !important;
        font-size: 6.4vw !important;
        width: 70% !important;
    }
    .banner-quote p {
        font-size: 8vw;
    }
}

/* Main Block */

.main-contain {
    display: flex;
    align-items: center;
}

.main-box-2 {
    padding: 0 50px;
}

.main-box-2 h2 {
    font-size: 1.45em;
}

@media (max-width: 1200px) {
    .main-contain {
        flex-wrap: wrap;
    }
    .main-box-1 {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .main-box-1 img {
        max-width: 100%;
    }

}

@media (max-width: 860px) {
    .main-contain p, .map-block p {
        margin: 0 0 25px 0;
    }
}


/* Blog Block */

.blog-contain {
    display: flex;
    align-items: flex-end;
}

.blog-box-1, .blog-box-3, .blog-box-5 {
    display: flex;
}

.blog-block, .video-block {
    color: white;
}

.blog-box-1 h3 {
    margin-right: 10px;
}

.blog-block {
    padding-bottom: 80px;
}

.arrowyellow {
    align-self: center;
    width: 25px;
    margin-left: 10px;
}

.blog-block p, .video-block p {
    text-align: center;
    font-weight: 600;
}

.blog-contain a {
    color: white;
    text-decoration: none !important;
}

.blog-contain a:hover, .blog-contain a:active, .blog-contain a:focus {
    color: #FAB51B !important;
}

.blog-contain a > div {
    margin: 20px;
}

.blog-box-2 img, .blog-box-4 img, .blog-box-6 img {
    max-width: 100%;
}

.blog-contain h3 {
    margin-bottom: unset;
}

.blog-box-1, .blog-box-3, .blog-box-5 {
    margin-bottom: 10px;
    align-items: center;
}

@media (max-width: 1200px) {
    .blog-contain {
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    .blog-box-2 img, .blog-box-4 img, .blog-box-6 img {
        max-width: unset;
    }
}

@media (max-width: 800px) {
    .blog-contain {
        padding-bottom: 0;
    }
    .blog-block p {
        margin: 25px;
        margin-top: 0;
    }
    .blog-contain a {
        margin: 25px 0;
    }
    .blog-contain img:nth-child(odd) {
        width: 100%;
        height: auto;
    }
    .blog-contain a > div {
        margin: unset;
    }
}

/* Map Block */

#elp-map-wrapper {
    left: -100px;
}

#elp-map-wrapper a.map-region {
    text-decoration: none;
}

@media (max-width: 1300px) {
    #elp-map-wrapper {
        margin-left: unset !important;
    }
}


@media (max-width: 1200px) {
    #elp-map-wrapper {
        display: none;
    }
}


/* Video Block */

.video-block {
    border-bottom: 10px solid #FAB51B;
}

.video-block-1 {
    display: flex;
    margin: 30px 0;
}

.video-contain h1 {
    text-align: center;
    font-size: 1.5em !important;
    font-weight: 600;
    margin-top: 25px;
}

.video-block-1 div {
    margin: 20px;
    flex: 1;
}

.videowrapper {
    margin: unset !important;
}

@media (max-width: 1200px) {
    .video-block-1 {
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    .video-block-1 div {
        width: 100%;
        flex: unset;
    }

    .video-contain h3 {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    
    .video-contain h1 {
        font-size: 1.3em !important;
    }
    .video-block-1 div {
        margin: unset;
    }
}

/* Bottom Logo */

.logo-block {
    padding: 30px;
}

.logo-block img {
    max-width: 350px;
    margin-left: 50px;
}

@media (max-width: 600px) {
    .logo-block img {
        width: 100%;
        margin-left: unset;
    }

}